@use '/src/sass/base/variables.scss' as *;

.footer {
    margin-top: 60px;
    background-color: $dark;
    &__your {
        margin: 0 57px 40px 0;
        .footer__header {
            padding-top: 50px;
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            color: $light;
        }
        .footer__info {
            padding-top: 40px;
            font-weight: 400;
            font-size: 15px;
            color: $light;
        }
        .footer__input-block {
            padding-top: 40px;
            input::placeholder {
                color: $light;
            }
        }

        .footer__email {

            all: unset;
            width: 275px;
            height: 32px;
            background-color: $dark;
        }
        .underline {
            margin-top: 10px;
            border: 1px solid $light;
        }

        .footer__label {
            display: flex;
            align-items: center;
            margin-top: 26px;
        }

        .footer__check-block {
            a {
                color: #a22dc6;
                text-decoration: none;
                margin-left: 2px;
            }
        }

        .footer__checkbox {
            margin-right: 15px;
            border: 1px solid $light;
            border-radius: 2px;
            width: 15px;
            height: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 200%;
            color: $light;
            
        }
        .footer__btn {
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
            background-color: transparent;
            color: $light;
            border: 1px solid $light;
            border-radius: 2px;
            width: 90px;
            height: 40px;
            margin-top: 20px;
            cursor: pointer;
        }
        }
        &__nav {
            display: flex;
            flex-wrap: wrap;
            column-gap: 66px;
            .block-on-flex .block-on-flex-two{
                flex: 1 1 50%;
            }
            .blocks__normal {
                flex: 1 1 100%;
                margin-top: 40px;
            }
            &-point {
                .footer__header {
                    font-weight: 500;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: $light;
                    line-height: normal;
                }
                .footer__descr {
                    margin-top: 40px;
                    font-weight: 300;
                    font-size: 16px;
                    color: $light;
                    &:nth-child(3) {
                        margin-top: 20px;
                    }
                }
                
            }
        }

    &__follow {
        margin-top: 40px;
        &-header {
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            color: $light;
        }
        &-wrapper {
            display: flex;
            margin-top: 40px;

            [class^=icon-]:before {
                margin-left: 0px;
                margin-right: 0px;}
            .footer__img {
                font-size: 24px;
                color: $light;
                margin-right: 10px;
            }
            

        }
    }

    &__copyright {
        margin-top: 40px;
        font-weight: 400;
        font-size: 14px;
        color: $light;
        text-align: center;
        padding-bottom: 50px;
    }
    }


    @media screen and (min-width:768px) {
        .footer {
            position: relative;
            &__your {
                .underline {
                   width: 272px;
                }
            }
            &__nav {
                width: 428px;
                display: flex;
                flex-wrap: nowrap;
                column-gap: 66px;
                }
                .blocks__normal {
                    margin-top: 0;
                }
            &__follow {
                position: absolute;
                bottom: 142px;
                right: 34px;
            }   
            }

        }
    
    